body {
    background-color: grey;
}

h1 {
    color: red;
}

.delete {
    padding:10px;
    background-color: #000;
    color:white;
    border-radius: 10px;

}

.image{
    width: 200px; 
    border-radius: 10px;
}